// *****************************************************************************
// Variables
// *****************************************************************************

$version: 					"1.0";

// Typography
$font-family-sans-serif:    "Open Sans", sans-serif;
$font-size-base:            0.75rem;
$line-height-base:          1.4;

// Bootstrap tweaks
$enable-rounded:            false;
