{{if eq .AuthLevel "auth"}}
	<ul class="navbar-nav ml-auto">
		<li class="nav-item"><a class="nav-link" href="{{.BaseURI}}about">About</a></li>
		<li class="nav-item"><a class="nav-link" href="{{.BaseURI}}notepad">Notepad</a></li>
		<li class="nav-item"><a class="nav-link" href="{{.BaseURI}}logout">Logout</a></li>
	</ul>
{{else}}
	<ul class="navbar-nav ml-auto">
		<li class="nav-item"><a class="nav-link" href="{{.BaseURI}}about">About</a></li>
	</ul>
{{end}}