{{define "title"}}Roster{{end}}
{{define "head"}}{{end}}
{{define "content" -}}

<div id="roster">

    <div v-if="groups.length > 1" class="page-header p-2">
        <a v-for="group in orderedGroups" :href="'#' + group.cn[0]" class="cloud">${ group.description[0] }</a>
    </div>

    <!-- Spinner -->
    <div v-if="!ready" class="card my-2">
        <div class="card-header">Roster is loading...</div>
        <div class="card-body mx-auto"><i class="fas fa-spinner fa-5x fa-spin"></i></div>
    </div>

    <!-- Cards -->
    <div v-if="ready" v-for="group in orderedGroups" class="card my-2">
        <div :id="group.cn[0]" class="card-header">
            <span>${ group.description[0] }</span>

            <!-- card actions -->
            <div class="float-right">
                <span class="mr-2" title="Open in new window."><a :href="'/roster/' + group.cn[0] " target="_blank" class="card-link"><i class="fas fa-external-link-alt"></i></a></span>
                <span class="dropdown" title="Actions...">
                    <a class="btn btn-link btn-sm dropdown-toggle p-0" href="#" role="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" :href="'https://rover.redhat.com/groups/group/' + group.cn[0] ">Edit</a>
                    </div>
                </span>
            </div>

            <!-- card stats -->
            <div class="card-stats float-right mr-4">
                <span v-if="group.subGroup.length > 0" class="mr-1" title="Number of subgroups."><i class="fas fa-users"></i><strong>&nbsp;${ group.subGroup.length }</strong></span>
                <span v-if="group.uniqueMember.length > 0" title="Number of people in the group."><i class="fas fa-user"></i><strong>&nbsp;${ group.uniqueMember.length }</strong></span>
            </div>

        </div>

        <div class="card-body">
            TODO: content
        </div>
    </div>

</div>

<script type="text/javascript">
let roster = new Vue({
    el: '#roster',
    delimiters: ['${','}'],
    data: {
        groups: [
            {   cn: [],
                description: [],
                subGroup: [],
                uniqueMember: [],
            },
        ],
        ready: false,
    },
    computed: {
        orderedGroups() {
            return _.sortBy(this.groups, 'cn')
        },
    },
    async mounted() {
        await this.$http.get('/api/v1/roster/groups/' + {{.group}} ).then(response => {
            this.groups = response.body.data;
        }, response => {
            this.groups = [{
                    "cn": [response.body.errors[0].title],
                    "description": [response.body.errors[0].title],
                    subGroup: [],
                    uniqueMember: [],
                }];
        });
        this.ready = true;
    },
});
</script>
{{- template "footer" .}}
{{- end}}
{{define "foot"}}{{end}}
