{{define "title"}}Roster{{end}}
{{define "head"}}{{end}}
{{define "content" -}}

<div id="roster">

</div>

<script type="text/javascript">
let roster = new Vue({
    el: '#roster',
    delimiters: ['${','}'],
    async mounted() {
        await this.$http.get('/api/v1/roster/groups').body;
    },
});
</script>
{{- template "footer" .}}
{{- end}}
{{define "foot"}}{{end}}
