apiVersion: v1
data:
  ssh-knownhosts: >-
    base64_string==
  ssh-privatekey: >-
    base64_string==
  ssh-publickey: >-
    base64_string==
kind: Secret
metadata:
  name: yourappname
  namespace: yournamespace
type: Opaque
